*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: bisque;
}

div{
    position: absolute;
    background-color: rgb(170, 3, 3);
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 15px;
}

div:hover{
    cursor: pointer;
}

h1{
    font-family: cursive;
}
